{% for article in articles %}
    <div>
        {# Title #}
        <h2>
            <a href="{{ path('arv_blog_article_show', { 'id': article.id, 'slug': article.slug }) }}">{{ article.title }}</a>
        </h2>

        {# Metadata #}
        <div>
            <div>
                {% if 'now'|date('Y-m-d H:i') < article.datePublication|date("Y-m-d H:i") %}
                    {{ 'arv.blog.table.article.will_be_published_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
                {% else %}
                    {{ 'arv.blog.table.article.published_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
                {% endif %} - {{ 'arv.blog.table.edited_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
                {% if article.user %}
                   <span>  - {{ article.user.username }}</span>
                {% endif %}
            </div>
            {% for tag in article.tags %}
                <a href="{{ path('arv_blog_search_tag', { 'tag': tag.name }) }}">{{ tag.name }}</a>{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </div>

        {# Content #}
        <div>
            {{ article.content|striptags|truncate(200)|raw }}
        </div>

        {# Actions #}
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <ul>
                    <li>
                        <a href="{{ path('arv_blog_article_edit', { 'id': article.id, 'slug': article.slug }) }}">{{ 'arv.blog.action.edit'|trans }}</a>
                    </li>
                    <li>
                        {{ form(delete_forms[article.id]) }}
                    </li>
                </ul>
            </div>
        {% endif %}

        {# Comments #}
        <div>
            {{ 'arv.blog.text.comment.number'|trans }} : {{ article.comments|length }}
        </div>
        {% if arvblog_comment_write_as_anonymous or is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                {% if article is null %}
                    <a href="{{ path('arv_blog_comment_new') }}">
                        {{ 'arv.blog.action.add_comment'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('arv_blog_comment_new', { id_article: article.id }) }}">
                        {{ 'arv.blog.action.add_comment'|trans }}
                    </a>
                {% endif %}
            </li>
        {% endif %}

    </div>
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>
