{% for article in articles %}
    <div>
        {# Title #}
        <h2>
            <a href="{{ path('arv_blog_article_show', { 'id': article.id, 'slug': article.slug }) }}">{{ article.title }}</a>
        </h2>

        {# Metadata #}
        <div>
            <div>
                {% if 'now'|date('Y-m-d H:i') < article.datePublication|date("Y-m-d H:i") %}
                    {{ 'arv.blog.table.article.will_be_published_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
                {% else %}
                    {{ 'arv.blog.table.article.published_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
                {% endif %} - {{ 'arv.blog.table.edited_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
            </div>
            {% for tag in article.tags %}
                <a href="{{ path('arv_blog_tag_show', { 'id': tag.id }) }}">{{ tag.name }}</a>{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </div>

        {# Content #}
        <div>
            {{ article.content|striptags|truncate(200)|raw }}
        </div>

        {# Actions #}
        <div>
            <ul>
                <li>
                    <a href="{{ path('arv_blog_article_edit', { 'id': article.id, 'slug': article.slug }) }}">{{ 'arv.blog.action.edit'|trans }}</a>
                </li>
                <li>
                    {{ form(delete_forms[article.id]) }}
                </li>
            </ul>
        </div>

        {# Comments #}
        <div>
            {{ render(controller('ARVBlogBundle:Comment:list', { id_article: article.id })) }}
        </div>

    </div>
{% endfor %}
