{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block content %}
    <h1>{{ 'arv.blog.title.h1.list_article'|trans }}</h1>

    <ul>
        <li>
            <a href="{{ path('arv_blog_article_new') }}">
                {{ 'arv.blog.action.add_article'|trans }}
            </a>
        </li>
    </ul>

    <table>
        <thead>
        <tr>
            <th>{{ 'arv.blog.table.article.title'|trans }}</th>
            <th>{{ 'arv.blog.table.article.content'|trans }}</th>
            <th>{{ 'arv.blog.table.article.tags'|trans }}</th>
            <th>{{ 'arv.blog.table.article.publication_date'|trans }}</th>
            <th>{{ 'arv.blog.table.creation_date'|trans }}</th>
            <th>{{ 'arv.blog.table.edition_date'|trans }}</th>
            <th>{{ 'arv.blog.table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.content|striptags|truncate(50)|raw }}</td>
                <td>
                    <ul>
                        {% for tag in article.tags %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{% if article.datePublication %}{{ article.datePublication|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if article.dateCreation %}{{ article.dateCreation|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if article.dateModification %}{{ article.dateModification|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('arv_blog_article_show', { 'id': article.id, 'slug': article.slug }) }}">{{ 'arv.blog.action.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('arv_blog_article_edit', { 'id': article.id, 'slug': article.slug }) }}">{{ 'arv.blog.action.edit'|trans }}</a>
                        </li>
                        <li>{{ form(delete_forms[article.id]) }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
