{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="article">
        <h1>{{ entity.title }}</h1>
        <div class="date">Ecrit le {{ entity.dateModification|date("d/m/Y \à H:i") }}</div>
        <ul class="tags">
            {% for tag in entity.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <div class="content">
            {{ entity.content|raw }}
        </div>
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('article') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
