{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="article">
        <h1>{{ article.title }}</h1>
        <div class="date">{{ 'arv.blog.table.created_at'|trans({'%date%': article.dateCreation|date("d/m/Y \à H:i")}) }}</div>
        <div class="date">{{ 'arv.blog.table.edited_at'|trans({'%date%': article.dateModification|date("d/m/Y \à H:i")}) }}</div>
        <ul class="tags">
            {% for tag in article.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <div class="content">
            {{ article.content|raw }}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('arv_blog_article_manage') }}">
                {{ 'arv.blog.action.back_list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('arv_blog_article_edit', { 'id': article.id, 'slug': article.slug }) }}">
                {{ 'arv.blog.action.edit'|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <div>
        {{ render(controller('ARVBlogBundle:Comment:list', { id_article: article.id })) }}
    </div>
{% endblock %}
