{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block content_page %}

    <div class="article">
        <h1>{{ article.title }}</h1>
        {% if article.user %}
            <div>{{ article.user.username }}</div>
        {% endif %}
        <div class="date">
            {{ 'arv.blog.table.created_at'|trans({'%date%': article.dateCreation|date("d/m/Y \à H:i")}) }}
        </div>
        <div class="date">
            {{ 'arv.blog.table.edited_at'|trans({'%date%': article.dateModification|date("d/m/Y \à H:i")}) }}
        </div>
        <div class="date">
            {% if 'now'|date('Y-m-d H:i') < article.datePublication|date("Y-m-d H:i") %}
                {{ 'arv.blog.table.article.will_be_published_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
            {% else %}
                {{ 'arv.blog.table.article.published_at'|trans({'%date%': article.datePublication|date("d/m/Y \à H:i")}) }}
            {% endif %}
        </div>
        <div>
            {% for tag in article.tags %}
                <a href="{{ path('arv_blog_search_tag', { 'tag': tag.name }) }}">{{ tag.name }}</a>{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </div>
        <div class="content">
            {{ article.content|raw }}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('arv_blog_article_manage') }}">
                    {{ 'arv.blog.action.back_list'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('arv_blog_article_edit', { 'id': article.id, 'slug': article.slug }) }}">
                    {{ 'arv.blog.action.edit'|trans }}
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endif %}

    {% if arvblog_comment_write_as_anonymous or is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            {% if article is null %}
                <a href="{{ path('arv_blog_comment_new') }}">
                    {{ 'arv.blog.action.add_comment'|trans }}
                </a>
            {% else %}
                <a href="{{ path('arv_blog_comment_new', { id_article: article.id }) }}">
                    {{ 'arv.blog.action.add_comment'|trans }}
                </a>
            {% endif %}
        </li>
    {% endif %}

    <div>
        {{ render(controller('ARVBlogBundle:Comment:list', { id_article: article.id })) }}
    </div>
{% endblock %}
