{% for comment in comments %}
    <div>
        {# Date and user #}
        <div>
            {% if arvblog_comment_display_email %}
                {% if comment.user %}
                    {{ 'arv.blog.table.comment.edited_at_with_email'|trans({'%date%': comment.dateModification|date('d/m/Y H:i:s'), '%email%': comment.user.username}) }}
                {% else %}
                    {{ 'arv.blog.table.comment.edited_at_with_email'|trans({'%date%': comment.dateModification|date('d/m/Y H:i:s'), '%email%': comment.email}) }}
                {% endif %}
            {% else %}
                {{ 'arv.blog.table.comment.edited_at'|trans({'%date%': comment.dateModification|date('d/m/Y H:i:s')}) }}
            {% endif %}
        </div>

        {# Content #}
        <div>
            {{ comment.content }}
        </div>

        {# Actions #}
        <div>
            <ul>
                {% if arvblog_is_secure == false or ()is_granted('ROLE_USER') and app.user == comment.user) %}
                    <li>
                        <a href="{{ path('arv_blog_comment_edit', { 'id': comment.id }) }}">{{ 'arv.blog.action.edit'|trans }}</a>
                    </li>
                {% endif %}
                {% if arvblog_is_secure == false or is_granted('ROLE_ADMIN') %}
                    <li>
                        {{ form(delete_forms[comment.id]) }}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endfor %}
