<li>
    {% if article is null %}
        <a href="{{ path('arv_blog_comment_new') }}">
            Ecrire un nouveau commentaire
        </a>
    {% else %}
        <a href="{{ path('arv_blog_comment_new', { id_article: article.id }) }}">
            Ecrire un nouveau commentaire
        </a>
    {% endif %}
</li>

{% for comment in comments %}
    <div>
        {# Date and user #}
        <div>
            Le {{ comment.dateModification|date('d/m/Y H:i:s') }} par {{ comment.email }}
        </div>

        {# Content #}
        <div>
            {{ comment.content }}
        </div>

        {# Actions #}
        <div>
            <ul>
                <li>
                    <a href="{{ path('arv_blog_comment_show', { 'id': comment.id }) }}">Visualiser</a>
                </li>
                <li>
                    <a href="{{ path('arv_blog_comment_edit', { 'id': comment.id }) }}">Modifier</a>
                </li>
                <li>
                    {{ form(delete_forms[comment.id]) }}
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
