{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block content %}
    <h1>{{ 'arv.blog.title.h1.list_comment'|trans }}</h1>

    <table>
        <thead>
        <tr>
            <th>{{ 'arv.blog.table.comment.email'|trans }}</th>
            <th>{{ 'arv.blog.table.comment.ip'|trans }}</th>
            <th>{{ 'arv.blog.table.comment.content'|trans }}</th>
            <th>{{ 'arv.blog.table.creation_date'|trans }}</th>
            <th>{{ 'arv.blog.table.edition_date'|trans }}</th>
            <th>{{ 'arv.blog.table.comment.article'|trans }}</th>
            <th>{{ 'arv.blog.table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.email }}</td>
                <td>{{ comment.ip }}</td>
                <td>{{ comment.content }}</td>
                <td>{% if comment.dateCreation %}{{ comment.dateCreation|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if comment.dateModification %}{{ comment.dateModification|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ comment.article.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('arv_blog_comment_show', { 'id': comment.id }) }}">{{ 'arv.blog.action.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('arv_blog_comment_edit', { 'id': comment.id }) }}">{{ 'arv.blog.action.edit'|trans }}</a>
                        </li>
                        <li>
                            {{ form(delete_forms[comment.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arv_blog_comment_new') }}">
                {{ 'arv.blog.action.add_comment'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
