{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Commentaire</h1>

    <div class="comment">
        <div class="date">Ecrit le {{ comment.dateCreation|date("d/m/Y \à H:i") }}</div>
        <div class="date">Modifié le {{ comment.dateModification|date("d/m/Y \à H:i") }}</div>
        <div class="author">Adresse mail : {{ comment.email }} - Adresse IP : {{ comment.ip }}</div>
        <div class="content">{{ comment.content }}</div>
    </div>

    <ul>
        <li>
            <a href="{{ path('arv_blog_comment_manage') }}">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('arv_blog_comment_edit', { 'id': comment.id }) }}">
                Modifier
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
