{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block content_page %}

    <h1>{{ 'arv.blog.title.h1.show_comment'|trans }}</h1>

    <div class="comment">
        {% if arvblog_comment_display_email %}
            {% if comment.user %}
                <div class="date">{{ 'arv.blog.table.comment.created_at_with_email'|trans({'%date%': comment.dateCreation|date("d/m/Y \à H:i"), '%email%': comment.user.username}) }}</div>
                <div class="date">{{ 'arv.blog.table.comment.edited_at_with_email'|trans({'%date%': comment.dateModification|date("d/m/Y \à H:i"), '%email%': comment.user.username}) }}</div>
            {% else %}
                <div class="date">{{ 'arv.blog.table.comment.created_at_with_email'|trans({'%date%': comment.dateCreation|date("d/m/Y \à H:i"), '%email%': comment.email}) }}</div>
                <div class="date">{{ 'arv.blog.table.comment.edited_at_with_email'|trans({'%date%': comment.dateModification|date("d/m/Y \à H:i"), '%email%': comment.email}) }}</div>
            {% endif %}
        {% else %}
            <div class="date">{{ 'arv.blog.table.comment.created_at'|trans({'%date%': comment.dateCreation|date("d/m/Y \à H:i")}) }}</div>
            <div class="date">{{ 'arv.blog.table.comment.edited_at'|trans({'%date%': comment.dateModification|date("d/m/Y \à H:i")}) }}</div>
        {% endif %}
        <div class="author">
            {{ 'arv.blog.table.comment.email'|trans }} : {{ comment.email }} - {{ 'arv.blog.table.comment.ip'|trans }} : {{ comment.ip }}
        </div>
        <div class="content">{{ comment.content }}</div>
    </div>

    <ul>
        <li>
            <a href="{{ path('arv_blog_comment_manage') }}">
                {{ 'arv.blog.action.back_list'|trans }}
            </a>
        </li>
        {% if is_granted('ROLE_USER') and app.user == comment.user %}
            <li>
                <a href="{{ path('arv_blog_comment_edit', { 'id': comment.id }) }}">
                    {{ 'arv.blog.action.edit'|trans }}
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
