{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>{{ 'arv.blog.title.h1.edit_tag'|trans }}</h1>

    {% include 'ARVBlogBundle:Comment:form.html.twig' with {'form': edit_form} %}

    <ul>
        <li>
            <a href="{{ path('arv_blog_tag_manage') }}">
                {{ 'arv.blog.action.back_list'|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
