{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block content %}
    <h1>{{ 'arv.blog.title.h1.list_tag'|trans }}</h1>

    <ul>
        <li>
            <a href="{{ path('arv_blog_tag_new') }}">
                {{ 'arv.blog.action.add_tag'|trans }}
            </a>
        </li>
    </ul>

    <table>
        <thead>
        <tr>
            <th>{{ 'arv.blog.table.tag.name'|trans }}</th>
            <th>{{ 'arv.blog.table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('arv_blog_tag_show', { 'id': tag.id }) }}">{{ 'arv.blog.action.show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('arv_blog_tag_edit', { 'id': tag.id }) }}">{{ 'arv.blog.action.edit'|trans }}</a>
                        </li>
                        <li>{{ form(delete_forms[tag.id]) }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arv_blog_tag_new') }}">
                {{ 'arv.blog.action.add_tag'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}

