{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>{{ 'arv.blog.title.h1.show_tag'|trans }}</h1>

    <div>
        {{ tag.name }}
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('arv_blog_tag_manage') }}">
                {{ 'arv.blog.action.back_list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('arv_blog_tag_edit', { 'id': tag.id }) }}">
                {{ 'arv.blog.action.edit'|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
