{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Tag</h1>

    <div>
        {{ tag.name }}
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('arv_blog_tag') }}">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('arv_blog_tag_edit', { 'id': tag.id }) }}">
                Modifier
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
