{% extends 'ARVBlogBundle::blog.html.twig' %}

{% block body %}

    {{ parent() }}

    <div>
        <div>
            {# Articles list #}
            {% block articles %}
                {{ render(controller('ARVBlogBundle:Article:list')) }}
            {% endblock %}
        </div>
        <div>
            {# Search block #}
            {% block search %}
                {{ render(controller('ARVBlogBundle:Search:form')) }}
            {% endblock %}
            {# Global actions #}
            <ul>
                <li>
                    <a href="{{ path('arv_blog_article_new') }}">Ajouter un article</a>
                </li>
                <li>
                    <a href="{{ path('arv_blog_tag_new') }}">Ajouter un tag</a>
                </li>
                <li>
                    <a href="{{ path('arv_blog_comment_new') }}">Ajouter un commentaire</a>
                </li>
                <li>
                    <a href="{{ path('arv_blog_article_manage') }}">Liste des articles</a>
                </li>
                <li>
                    <a href="{{ path('arv_blog_tag_manage') }}">Liste des tags</a>
                </li>
                <li>
                    <a href="{{ path('arv_blog_comment_manage') }}">Liste des commentaires</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

